page-home {
.box
{
	max-width: 100%;
	padding:20px;
	padding-top:50px;
	background-color: #fff !important;
	box-sizing: border-box;
}

.rail-tool
{
 padding-top: 20px;
 padding-left:10px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding:10px;
  background-color: #fff !important;
  margin-top: -20px;


  .card {
    display: inline-block;
 
   line-height: 2px;
   
  
    margin-left:10px;
    padding:5px;
    text-align: center;
  

  }
}
.blog-slider
{
	overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
  margin-top: -15px;
  background-color: #fff;
  padding: 10px;
  .blog-card {
    display: inline-block;

  }
}
.card img
{
	width: 50px;
	height: 50px;
}
.rail-tool-title
{
	color: #1867c0;
}
.title
{
  font-size: 16px;
  color: #1867c0;
}
.view-all
{
	font-size: 16px;
	color:#fb6340;
}
.slider-img
{
  border-radius: 5px;
}
.slider-box
{
  background-color: #fff;
  padding:10px;
  margin-top: -15px;
}

}
