<!-- Generated template for the SideMenuComponent component -->
<div>
  <button menuClose ion-item (click)="openHomePage()">
    <img src="assets/imgs/home.png" item-left class="side-menu-icons">
    <ion-label>
      Home
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openPnrPage()" >
    <img src="assets/imgs/pnr.png" item-left class="side-menu-icons">
    <ion-label>
     Pnr Status
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openTrackPage()" >
    <img src="assets/imgs/timetable.png" item-left class="side-menu-icons">
    <ion-label>
      Time Table
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openPnrPage()">
    <img src="assets/imgs/running.png" item-left class="side-menu-icons">
    <ion-label>
      Train Live Status
    </ion-label>
  </button>
   <button menuClose ion-item (click)="openPnrPage()">
    <img src="assets/imgs/food-order.png" item-left class="side-menu-icons">
    <ion-label>
      Food Order
    </ion-label>
  </button>
   <button menuClose ion-item (click)="openPnrPage()">
    <img src="assets/imgs/track-order.png" item-left class="side-menu-icons">
    <ion-label>
      Track Order
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openSchedulePage()">
    <img src="assets/imgs/seat.png" item-left class="side-menu-icons">
    <ion-label>
     Seat Availability
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openRunningPage()">
    <img src="assets/imgs/bws.png" item-left class="side-menu-icons">
    <ion-label>
      Train B/W Stations
    </ion-label>
  </button>
  
  <button menuClose ion-item (click)="openContactPage()">
    <img src="assets/imgs/address.png" item-left class="side-menu-icons">
    <ion-label>
      Contact
    </ion-label>
  </button>
  <button menuClose ion-item (click)="openContactPage()">
    <img src="assets/imgs/wallet.png" item-left class="side-menu-icons">
    <ion-label>
      Wallet
    </ion-label>
  </button>
 <ion-item>
 	<ion-row>
 		<ion-col><img src="assets/imgs/facebook.png" class="social-btn"  ></ion-col>
 		<ion-col><img src="assets/imgs/tw.png"  class="social-btn" ></ion-col>
 		<ion-col><img src="assets/imgs/instagram.png" class="social-btn"  ></ion-col>
 		<ion-col><img src="assets/imgs/share.png"  class="social-btn" ></ion-col>
 	</ion-row>
 </ion-item>
</div>